/*

****************CLASS SELECTORS***************

*/

.index {
  background-color: #222831;
}

.strategy {
  background-color: #222831;
}


/*

*******ID SELECTORS - more specific - Only use ONCE per page*********

*/

#heading {
  background-color: #2B2E4A;
}

/*

***************TAG SELECTORS***************

*/
img {
  max-width: 100%;
}


body {
  background-color: #2B2E4A;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: groove;
  border-color: grey;
  border-width: 5px;
  height: 2px;
}

h1 {
  color: #EEEEEE;
}

h3 {
  color: #EEEEEE;
}

p {
  color: #EEEEEE;
}

ul {
  color: #EEEEEE;
}

ol {
  color: #EEEEEE;
}

a {
  color: #EEEEEE;
}

label {
  color: #EEEEEE;
}

.top-container {
    width: 100%;
    height: 100px;

}

.middle-container {

}

.bottom-container {

}
